@import "tailwindcss";

.linkActive {
    color: #7f22fe;
    text-decoration: underline;
    padding: 4px;
}

.linkActive:hover {
    cursor: default;
}

.linkInactive {
    color: gray;
    padding: 4px;
    transition: .5s;
}

.linkInactive:hover {
    text-decoration: underline;
    transition: .5s;
}