@import "tailwindcss";

.linkActive {
    color: #7f22fe;
    text-decoration: underline;
    padding: 4px;
}

.linkActive:hover {
    cursor: default;
}

.linkInactive {
    color: gray;
    padding: 4px;
    transition: .5s;
}

.linkInactive:hover {
    text-decoration: underline;
    color: black;
}

.caregiver-link {
    color: #7f22fe;
}

.plwd-link-active {
    color: green;
    text-decoration-color: green;
}

.plwd-link-inactive {
    color: gray;
    text-decoration: none;
}

.plwd-link-inactive:hover {
    color: black;
    text-decoration: underline;
}

.plwd-button-outline {
    color: green;
    outline-color: green;
    border-color: green;
}

.plwd-button-outline:hover {
    color: white;
    background-color: green;
    border-color: green;
}

.plwd-button-fill {
    color: white;
    background-color: green;
    border-color: green;
}

.plwd-button-fill:hover {
    background-color: darkgreen;
    border-color: darkgreen;
}

.bg-plwd-progress {
    background-color: green;
}

.fc-col-header-cell-cushion {
    color: black;
}